@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f7f7f7;
  --black: #0a0a0a;
  --font-lato: 'Lato', sans-serif;
}

body {
  color: var(--black);
  background: var(--background);
  font-family: var(--font-lato), Helvetica, sans-serif;
}