@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #f7f7f7;
  --color-black: #0a0a0a;
  --color-white: #ffffff;

  --color-font-lato: 'Lato', sans-serif;
}

body {
  color: var(--color-black);
  background: var(--color-background);
  font-family: var(--color-font-lato), Helvetica, sans-serif;
  scroll-behavior: smooth;
}